
body {
  font-family: Georgia,  sans-serif;
  margin: 0;
  padding: 0;
}

.body-header{
  color: #BBD0FF;
  margin-top: 35px;
  margin-left: 20px;
  margin-right: 20px;
}

.body-header-white{
  color: white;
  text-align: center;
  padding: 20px;
}

p{
  line-height: 1.5em;
  color: grey;
  margin:20px
}



#nav-horizontal{
  background: #BBD0FF;
}

#horizontal{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-list>li a{
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: white;
  padding: 20px;
  float: left;
}

li a.current{
  background: #FFD6FF;
}
li a:hover{
  background: #FFD6FF; color:#BBD0FF;
}

#my-name{
  color: white;
  padding: 20px;
}
.my-header{
  background: #FFD6FF;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.circle-image{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 20px;
}
.circle-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: #fff;
}

.image-container img {
  width: 30%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

.background-gradient{
  background: linear-gradient(45deg, #E7C6FF, #BBD0FF);
}

#box-p{
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.read-more{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.body-list{
  display: list-item;
  list-style-type: none;
}

.body-list>li{
  background: #E7C6FF; width: 200px;
  padding: 20px;
  margin: 10px;
}

.body-list>li:hover{
  background-color: #FFD6FF;
}

.item{
  color: white;
  list-style-type: none;
  text-decoration: none;
}

blockquote{
  line-height: 1.5em;
  color: grey;
  margin:20px;
  border: 5px solid #E7C6FF;
  padding: 20px;
}

.footer{
  background: #BBD0FF;
  color: white;
  padding: 15px 0;
  height: 250px;
  text-align: center;
}


.contact{
  color: white;
  text-decoration: none;
}

.contact:hover{
  color: #FFD6FF;
}

.footer-p{
  color: white;
}

.social-media{
  padding: 10px;
}

.fa fa-facebook{
  color: white ;
}



