body{
  font-size: 110%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  
}

h1, h2{
  color: #605678;
  text-align: center;
  letter-spacing: 0.1em;
}


form{
  display: grid;
  justify-self: center;
  width: 70%;
  padding: 1em;
  background: #FFE6A5;
}

fieldset{
  display: grid;
  gap: 1em;
  padding: 2em;
  border: none
}

legend{
  color:#605678 ;
  font-weight: bold;
}

label{
  
}

.questions{
  background: #FFBF61;
  padding: 1em;
  border-radius: 3px;
}

input{
  border-radius: 3px;
  padding: 0.5em;
  margin-top: 0.5em;
  border: #FFBF61 solid 2px;
}

input[required]{
  background-image: url(image/icons-asterisk.png) ;
  background-size: 0.7em 0.7em;
  background-position: right top;
  background-repeat: no-repeat;
}

.button{
  background: #8ABFA3;
  border-color: #8ABFA3;
  color: whitesmoke;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
}

.button:hover{
  background: #605678;
  border-color: #605678;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);;
  transition: ease-in 0.15s;
}
